<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-family: TatianaCTT">Познавалкин</a>
    </div>
    <div class="container-fluid">
      <p class="navbar-text">Развивающие игрушки для детей всех возрастов</p>
      <a href="http://0.0.0.0:3000/contakt" class="navbar-text">Контакты</a>
    </div>
    <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Каталог <span class="sr-only">(current)</span></a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Деревянные игрушки <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Шумелки</a></li>
            <li><a href="#">Пирамидки</a></li>
            <li><a href="#">Шнуровки</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="#">Пазлы-картинки</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="http://0.0.0.0:3000/toys">Вкладыши</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Сортеры</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Кубики</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Настольные игры</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Конструкторы</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Наборы для творчества</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Пазлы</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Обучающие игры <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Обучение чтению</a></li>
            <li><a href="#">Изучаем алфавит</a></li>
            <li><a href="#">Язык и коммуникация</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="#">Обучение счету</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="http://0.0.0.0:3000/toys">Развитие логического мышления</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Развитие памяти и внимания</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Цвета и формы</a></li>
            <li><a href="http://0.0.0.0:3000/toys">Окружающий мир</a></li>
          </ul>
        </li>
        <li><a href="http://0.0.0.0:3000/contakt">Головоломки</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настольные игры <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Обучающие</a></li>
            <li><a href="#">Развивающие</a></li>
            <li><a href="#">Веселые</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="#">Для компании</a></li>
          </ul>
        </li>
        <li><a href="http://0.0.0.0:3000/contakt">Конструкторы</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Остальное <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Масса для лепки</a></li>
            <li><a href="#">Песок для лепки</a></li>
            <li><a href="#">Пазлы</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="#">Творчество</a></li>
            <li><a href="#">Печатная продукция</a></li>
            <li><a href="#">Игрушки</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
Раздел находится в разработке и скоро будет работать приносим извенения за неудобства.