// Place all the styles related to the Toys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'TatianaCTT';
  src: font-url('http://allfont.ru/allfont.css?fonts=tatianactt');
}
.brandmain{
  font-family: 'TatianaCTT';
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}